body{
  padding: 20px;
}
.App{
  margin: 0 auto;/* 요소 가운데 배치 */
  width: 400px;
}

.App > section{
  background-color: rgb(245, 245, 245);
  border : 1px solid rgb(240, 240, 240);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 12px;
}

